:root {
  --theme-scale1: hsl(255, 65%, 99.4%);
  --theme-scale2: hsl(252, 100%, 99%);
  --theme-scale3: hsl(252, 96.9%, 97.4%);
  --theme-scale4: hsl(252, 91.5%, 95.5%);
  --theme-scale5: hsl(252, 85.1%, 93%);
  --theme-scale6: hsl(252, 77.8%, 89.4%);
  --theme-scale7: hsl(252, 71%, 83.7%);
  --theme-scale8: hsl(252, 68.6%, 76.3%);
  --theme-scale9: hsl(252, 56%, 57.5%);
  --theme-scale10: hsl(251, 48.1%, 53.5%);
  --theme-scale11: hsl(250, 43%, 48%);
  --theme-scale12: hsl(254, 60%, 18.5%);

  color: var(--theme-scale12);
  background-color: var(--theme-scale1);
}

.page-container {
  display: flex;
}

.table {
  border-collapse: collapse;
}

.table-stack {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

.cell {
  color: black;
  border: 1px solid #dddfe1;
  padding: 15px;
}

.header-cell {
  background-color: var(--theme-scale9);
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid var(--theme-scale8);
  padding: 15px;
}

.row {
  background-color: #f9fafb;
}

.row:nth-child(odd) {
  background-color: #ffffff;
}

.new {
  color: var(--theme-scale9);
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
}

.new:hover {
  background-color: var(--theme-scale4);
}

.pagination {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-inline: 0.5rem;
}

.pagination-button {
  cursor: pointer;
  width: 2rem;
  text-align: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: var(--theme-scale3);
  border: 1px solid var(--theme-scale7);
}

[aria-current="page"] > .pagination-button {
  font-weight: bold;
  background-color: var(--theme-scale9);
  color: white;
}
